html {
	font-size: 100%;
	box-sizing: border-box;
}
* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: inherit;	
}
body {
	font-family: 'Quicksand', sans-serif;
	background-color: #faf2ea;
	color: #222;
}

.container {
	width: 960px;
	margin: 0 auto;
}

/* > > > > > T E X T   S T Y L E S < < < */

h2, .button, h3, .footer-title, .footer-nav {text-transform: uppercase;}
h1 {font-size: 3rem; font-weight: 900;}
h2 {font-size: 1.10rem; font-weight: 500;}
h3 {font-size: 1rem;font-weight: 500;}
p, .footer-text {font-size: .85rem}
small {font-size: .75rem; font-weight: 200;}
button {font-size: 0.75rem; font-weight: 500;}

ul * {
	list-style: none;
}

img {
	max-width: 100%;
}

.menu-image1, .menu-image2, .menu-image3, .menu-image4 {
	width: 100%;
}

/*outline - to be deleted once finished*/
/** {outline: solid thin palevioletred;}*/



/* > > > > > N A V I G A T I O N   M E N U < < < */
#logo {
	;
}

nav {
	border-bottom: 1px solid #e6e0da;
	padding: 1rem 2rem;
}

nav li {
	display: inline;
}

nav a {
	text-align: center;
	font-weight: 700;
	font-size: .85rem;
	color: #777;
	padding: 2rem 1.5rem .4rem 1.5rem;
	text-transform: uppercase;
}

.logo {
	display: block;
	font-size: 1rem;
}

.searchbar {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #777;
	font-size: .9rem;
	color: #777;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
input:focus::-moz-placeholder {
   opacity: 0;
}
input:focus:-ms-input-placeholder {
    opacity: 0;
}
input:focus:-moz-placeholder {
   opacity: 0;
}
input:focus {
 	outline: none;
}
.fa-search {
	color: #777;
}

nav {
	display: grid;
	grid-template-rows: repeat(2, 2rem);
	grid-template-columns: 10rem 1fr 13rem 2rem 2rem; 
}

.nav-main {
	grid-area: 2 / 2 / 3 / 3;
	overflow: hidden;
}

.nav-search {
	grid-area: 2 / 3 / 3 / 4;
}

#logo {
	grid-template-areas: 1 / 1 / 3 / 2;
}


/* > > > > > M E N U   S E C T I O N < < < */

h2 {
	padding-top: 2rem;
	text-align: center;
}

/* > > > > > A B O U T   S E C T I O N < < < */

.about-p1, .about-p2 {
	background-color: rgb(188,108,37,.15);
	width: 28.75rem;
	height: 21.88rem;
}

.about-master h3 {
	padding: 2.5rem;
	padding-bottom: 1.75rem;
	text-align: center;
}

.about-master p {
	text-align: left;
	padding: .4rem 2rem;
	overflow: hidden;
}




/* > > > > > separators < < < */
.vertical-div {
	width: 100px;
	margin: 0 auto;
	margin-top: -0.2rem;
}

.vertical-line {
	border-bottom: 3px solid #bc6c25;

}

.space {
	width: 100%;
	height: 2rem;
}

.spaceX {
	width: 100%;
	height: 6rem;
}

/* > > > > > C O N T A C T   S E C T I O N < < < */


.location {
	width: 28.75rem;
	height: 51.25rem;
}
.location-p {
	background-color: rgb(188,108,37,.15);
	width: 460px;
	height: 230px;
}

.location-p h2 {
	padding: 2.5rem 2.5rem 0;
	text-align: center;
}

.map {
	margin-top: 3.1rem;
}

.location-p p {
	padding: 0 2.5rem 1.8rem;
	text-align: left;
}

.contact-us h2 {
	padding: 2rem 2.5rem 0;
	text-align: center;
}

.contact-form {
	width: 28.75rem;
	text-align: left;
}

.contact-button {
	float: left;
}

.textbox, .comment-box {
	width: 28.75rem;
	margin: .3rem 0 1rem;
	border: 1px solid #a9a9a9;
	background-color: transparent;
}

.textbox {
	height: 1.5rem;
	margin-bottom: 1rem;
}





/* > > > > > B U T T O N   S T Y L E S < < < */

.button {
	text-align: center;
	border: 3px solid #bc6c25;
	background-color: transparent;
	padding: 1em 1.75rem;
	transition-duration: 0.5s;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.button:hover {
	background-color: #bc6c25;
}

.button:hover > a {
	color: #fff;
}

.master-landing > .button > a {
	color: #fff;
}

.button-learn, .button-back {
	clear: both;
}

a {
	text-decoration: none;
	color: #000;
}

li > a:hover {
	border-bottom: 3px solid #bc6c25;
	color: #222;
	transition-duration: 0.25s;
}

.contact-button:hover {
	color: white;
}

.home-menu-photos img:hover {
	box-shadow: 1px 5px 10px 1px rgb(0,0,0,.2);
}

/* > > > > > F O O T E R < < < */

.footer-1, .footer-2 {
	background-color: rgb(0,0,0,.5);
}

.footer-2 {
	background-color: rgb(0,0,0,.75);
	color: #fff;
	text-align: center;
	padding: .7rem;
}

.footer-1 a, .footer-title {
	color: #fff;
	font-size: .85rem;
	font-weight: 500;
}

.footer-1 li {
	padding: .1rem;
	}
.footer-1 {
	color: #fff;
}

.footer-vertical-line {
	border-bottom: 3px solid #fff;
}
.footer-vertical-div {
	margin: -1rem 0 .5rem;
}

.footer-text {
	margin: .3rem 0;
	color: #fff;
}

#footer-emailbox {
	margin: .2rem;
	height: 1.25rem;
	width: 75%;
	font-size: .85rem;
	text-align: center;
	border-radius: 1em 1em;
}

#footer-button {
	height: 1.5rem;
	color: #fff;
	margin: .3rem 0;
	padding: 0 1rem .25rem;
	border-radius: 1rem 1rem;
	justify-content: center;
	background-color: #bc6c25;
}




/* > > > > > L A N D I N G   P A G E < < < */

.landing-bg {
	background-image: url(../images/landing-m.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vw;

}

.landing-center {
	background-color: #212529;
	width: 50%;
	height: 100vh;
	margin: 0 auto;
}

#tagline {
	transform: rotate(-14deg);
}

.landing-text {
	text-align: center;
	font-weight: 100;
}


#landing, .landing-text {
	color: #fff;
}

#landing {
	text-transform: lowercase;
	border-bottom: 2px solid #bc6c25;
	text-decoration: none;
	color: #fff;
}

#landing-emailbox {
	margin: .5rem;
	text-align: center;
	height: 3rem;
	border: 3px solid #bc6c25;
	width: 100%;
	font-size: 1rem;
	background-color: transparent;
	color: #fff;
}

.button-landing {
	padding: 1em 2em .5em 2em;
	margin-bottom: .25rem;
}

.button-landing:active {
	outline: none;
}


/* > > > M E N U   P A G E < < < */

.master-menu {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 8rem 2.5rem;
	justify-content: center;
}

.card {
	width: 12.5rem;
	height: 20rem;
}

.card p {
	background-color: rgb(188,108,37,.15);
	padding: 1rem;
}


/* > > > > >  M E D I A   Q U E R I E S < < < < < */


/* > > > > > mobile device / samsung galaxy s5 < < < < < */
@media only screen and (max-width: 400px) {
	.container {
		width: 100%;
		margin: 0 auto;
		object-fit: cover;
	}

	nav {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1.5rem;
	}	

	nav > h1 {
		grid-area: 1 / 2 / 2 / 3;
		margin-left: -3rem;
	}

	.nav-main {
		grid-area: 2 / 1 / 3 / 4;
	}

	.nav-main a {
		font-size: .7rem;
	}

	.nav-search {
		display: none;
	}

	.banner {
	background: url(../../assets/images/banner-image-small.jpg) no-repeat center center;
	background-size: cover;
	height: 20em;
	width: 100%;
	}

	.home-menu-photos {
		display: grid;
		grid-template-rows: repeat(4, 18.75rem);
		grid-template-columns: 13.125rem;
		grid-row-gap: 2.5rem;
		justify-content: center;
	}

	.about-master {
		display: grid;
		grid-template-columns: 20rem;
		grid-gap: 2.5rem;
		justify-content: center;
		overflow: hidden;	
	}
	.about-p1, .about-p2 {
		width: 20rem;
		height: 100%;
		padding-bottom: 1.5rem;
	}

	.contact-master {
		display: grid;
		grid-template-columns: 20rem;
		grid-gap: 2.5rem;
		justify-content: center;
	}

	.location, .contact-form {
		width: 20rem;
	}

	.location-p {
		width: 20rem;
		height: 17rem;
	}

	.map iframe {
		width: 20rem;
	}

	.textbox, .comment-box {
		width: 20rem;
	}

	.footer-1 {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 1rem;
		justify-content: center;
	}

	.footer-resources {
		display: none;
	}

	.footer-connect {
		grid-area: 1 / 2 / 2 / 3;
	}

	.footer-nav {
		grid-area: 1 / 1 / 2 / 2;
	}

	.footer-subscribe {
		grid-area: 2 / 1 / 3 / 3;
	}

	.footer-nav, .footer-connect {
		margin-top: 2rem;
	}

	.footer-nav, .footer-subscribe {
		margin-left: 1rem;
		}	

	.master-menu {
		display: grid;
		grid-template-columns: repeat(1, 12.5rem);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 8rem 1rem;
		justify-content: center;
	}

	.landing-center {
		width: 50%;
		height: 100vh;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1rem 1fr 1rem;
		grid-template-rows: 5rem 5rem repeat(4, 3.5rem);
		justify-content: center;
		overflow: hidden;
	}

	#tagline {
		grid-area: 2 / 3 / 3 / 6;
	}

	.landing-text {
		grid-area: 3 / 2 / 4 / 6;
		margin-right: 1rem;
	}

	.landing-form {
		grid-area: 4 / 3 / 5 / 4;
	}
	#landing-emailbox {
		margin: .5rem auto;
	}
	.landing-text h4 {
		font-size: .9rem;
		font-weight: 100;
	}
	.landing-text small {
		font-size: .7rem;
	}
}
	

/* > > > > > tablet / ipad < < < < < */


@media only screen and (min-width: 401px) and (max-width: 900px) {
	.container {
		width: 100%;
		margin: 0 auto;
		object-fit: cover;
	}

	.searchbar {
		margin-left: .65rem;
	}

	nav {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 2rem;
	}	

	nav > h1 {
		grid-area: 1 / 2 / 2 / 3;
	}

	.nav-main {
		grid-area: 2 / 1 / 2 / 3;
	}

	.nav-main a.icon {
		display: none;
	}

	.banner {
	background: url(../../assets/images/banner-image.jpg) no-repeat center center;
	background-size: cover;
	height: 20em;
	width: 100%;
	}

	.home-menu-photos {
		display: grid;
		grid-template-rows: repeat (2, 18.75rem);
		grid-template-columns: repeat(2, 13.125rem);
		grid-gap: 2.5rem;
		justify-content: center;
	}

	.about-master {
		display: grid;
		grid-template-columns: 28.75rem;
		grid-gap: 2.5rem;
		justify-content: center;
	}
	.about-p1, .about-p2 {
		width: 100%;
	}

	.contact-master {
		display: grid;
		grid-template-columns: 28.75rem;
		grid-gap: 2.5rem;
		justify-content: center;
	}

	.footer-1 {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 2rem repeat(2, 1fr) 2rem;
		grid-gap: 2rem 2rem;
		justify-content: center;
	}
	.footer-nav{
		grid-area: 1 / 2 / 2 / 3;
	}

	.footer-resources {
		display: none;
	}

	.footer-connect {
		grid-area: 1 / 3 / 2 / 4;
	}

	.footer-subscribe {
		grid-area: 2 / 2 / 3 / 4;
	}

	.footer-nav, .footer-connect {
		margin-top: 2rem;
	}

	.master-menu {
		display: grid;
		grid-template-columns: repeat(3, 12.5rem);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 8rem 1rem;
		justify-content: center;
	}

	.landing-center {
		width: 50%;
		height: 100vh;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 3rem 3rem 1fr 1fr 3rem 3rem;
		grid-template-rows: 10rem 10rem repeat(4, 3.5rem);
		justify-content: center;
	}

	#tagline {
		grid-area: 2 / 2 / 3 / 6;
	}

	.landing-text {
		grid-area: 3 / 2 / 4 / 6;
	}

	.landing-form {
		grid-area: 4 / 3 / 5 / 4;
	}
}

/* > > > > > desktop < < < < < */

@media only screen and (min-width: 900px) {
	.nav-main .icon {
	display: none;
	}

	.home-menu-photos {
		display: grid;
		grid-template-rows: 18.75rem;
		grid-template-columns: repeat(4, 13.125rem);
		grid-column-gap: 2.5rem;
		justify-content: space-between;
	}

	.banner {
	background: url(../../assets/images/banner-image.jpg) no-repeat center center;
	background-size: cover;
	height: 20em;
	width: 100%;
	}

	.about-master {
		display: grid;
		grid-template-rows: 21.88rem 21.88rem 16rem;
		grid-template-columns: repeat(2, 28.75rem);
		grid-gap: 2.5rem;
	}

	.about-image3 {
		grid-area: 3 / 2 / 4 / 3;
	}

	.about-p1, .about-p2 {
		width: 100%;
	}

	.contact-master {
	display: grid;
	grid-template-rows: 14.37rem 34.37rem;
	grid-template-columns: repeat(2, 28.75rem);
	grid-gap: 2.5rem;
	}

	.location-p {
		height: 14.37rem;
		width: 28.75rem;
	}

	.contact-us {
		grid-area: 1 / 2 / 3 / 3;
	}

	.footer-1 {
	display: grid;
	grid-template-rows: repeat(7, 1.5rem);
	grid-template-columns: repeat(3, 10rem) 25rem 5rem;
	grid-column-gap: 1rem;
	justify-content: center;
	letter-spacing: .06rem;
	}

	.footer-nav {
		grid-area: 2 / 1 / 6 / 2;
	}

	.footer-resources {
		grid-area: 2 / 2 / 6 / 3;
	}

	.footer-connect {
		grid-area: 2 / 3 / 6 / 4;
	}

	.footer-subscribe {
		grid-area: 2 / 4 / 7 / 5;
	}

	.landing-center {
	display: grid;
	grid-template-columns: 3rem 3rem 1fr 1fr 3rem 3rem;
	grid-template-rows: 10rem 20rem repeat(4, 3.5rem);
	justify-content: center;
	}

	#tagline {
	grid-area: 2 / 3 / 3 / 6;
	}

	.landing-text {
	grid-area: 3 / 3 / 4 / 5;
	text-align: center;
	font-weight: 100;
	}

	.landing-form {
	grid-area: 4 / 3 / 5 / 4;
	}
}



